body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-top: 100px;
}

header {
    background: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    position: relative;
    bottom: 0;}
    
    @media (max-width: 600px) {
  
    }
    
    @media (min-width: 601px) and (max-width: 1200px) {
      
    }
    
    @media (min-width: 1201px) {
      
    }
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .item {
      flex: 1 1 200px; /* العناصر ستتوزع بشكل متساوي */
    }
    